body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(to right, #16e6c0, #7cc7f3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Glass card */
.container {
    background: rgba(249, 249, 249, 0.25);
    backdrop-filter: blur(22px);
    padding: 35px;
    border-radius: 18px;
    width: 360px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.container:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    border-color: aqua;
}

h1 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #1a1a1a;
}
i{
    color: #20394d;
}

/* Search box */
.search-box {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}
.search-box :hover ::after {
    gap: 4px;
}
input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

button {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #2196F3;
    color: #20394d;
    font-size: 14px;
    transition: 0.3s;
}

button:hover  {
    background: #31679d;
}

.loading {
    display: none;
    margin-bottom: 10px;
    color: #333;
}

.error {
    color: red;
    margin-bottom: 10px;
}

/* Weather display hierarchy */
.location {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8px;
}

.temperature {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 10px;
}

.condition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 15px;
    font-size: px;
}

.condition img {
    width: 45px;
}

.details {
    font-size: 22px;
    color: #3f3d3d;
    line-height: 1.6;
}

/* JSON view */
.json-view {
    display: none;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
    background: rgba(0,0,0,0.15);
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    color: #000;
}

/* Toggle button */
.toggle-btn {
    display: none;
    margin-top: 15px;
    
}